# Polars Extensions Usage

## Read & Write Schemas

In [5]:
import polars as pl
import polars_extensions as plx

In [6]:
data = pl.read_csv('datasets/employees.csv')
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee_i ┆ first_name ┆ last_name ┆ email      ┆ job_title  ┆ date_of_bi ┆ date_of_hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [7]:
plx.write_schema(data,'schema.json')

In [8]:
schema = plx.read_schema('schema.json')
schema

Schema([('employee_id', Int64),
        ('first_name', String),
        ('last_name', String),
        ('email', String),
        ('job_title', String),
        ('date_of_birth', String),
        ('date_of_hire', String),
        ('salary', Int64)])

## Case Conventions

In [9]:
import polars as pl
from polars_extensions import * #Import all extensions

data = pl.read_csv('datasets/employees.csv')
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee_i ┆ first_name ┆ last_name ┆ email      ┆ job_title  ┆ date_of_bi ┆ date_of_hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [10]:
data.name_ext.to_kebeb_case()

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee-i ┆ first-name ┆ last-name ┆ email      ┆ job-title  ┆ date-of-bi ┆ date-of-hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [11]:
data.name_ext.to_train_case()

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ Employee-I ┆ First-Name ┆ Last-Name ┆ Email      ┆ Job-Title  ┆ Date-Of-Bi ┆ Date-Of-Hi ┆ Salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [12]:
data.name_ext.to_pascal_case()

shape: (5, 8)
┌────────────┬───────────┬──────────┬─────────────┬─────────────┬────────────┬────────────┬────────┐
│ EmployeeId ┆ FirstName ┆ LastName ┆ Email       ┆ JobTitle    ┆ DateOfBirt ┆ DateOfHire ┆ Salary │
│ ---        ┆ ---       ┆ ---      ┆ ---         ┆ ---         ┆ h          ┆ ---        ┆ ---    │
│ i64        ┆ str       ┆ str      ┆ str         ┆ str         ┆ ---        ┆ str        ┆ i64    │
│            ┆           ┆          ┆             ┆             ┆ str        ┆            ┆        │
╞════════════╪═══════════╪══════════╪═════════════╪═════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john      ┆ doe      ┆ john.doe@ex ┆ software_en ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆           ┆          ┆ ample.com   ┆ gineer      ┆            ┆            ┆        │
│ 2          ┆ jane      ┆ smith    ┆ jane.smith@ ┆ data_scient ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆           ┆          ┆ example.com ┆ ist         ┆            ┆            ┆        │
│ 3          ┆ bob       ┆ johnson  ┆ bob.johnson ┆ product_man ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆           ┆          ┆ @example.co ┆ ager        ┆            ┆            ┆        │
│            ┆           ┆          ┆ m           ┆             ┆            ┆            ┆        │
│ 4          ┆ alice     ┆ davis    ┆ alice.davis ┆ ux_designer ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆           ┆          ┆ @example.co ┆             ┆            ┆            ┆        │
│            ┆           ┆          ┆ m           ┆             ┆            ┆            ┆        │
│ 5          ┆ charlie   ┆ brown    ┆ charlie.bro ┆ qa_engineer ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆           ┆          ┆ wn@example. ┆             ┆            ┆            ┆        │
│            ┆           ┆          ┆ com         ┆             ┆            ┆            ┆        │
└────────────┴───────────┴──────────┴─────────────┴─────────────┴────────────┴────────────┴────────┘

In [13]:
data.name_ext.to_snake_case()

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee_i ┆ first_name ┆ last_name ┆ email      ┆ job_title  ┆ date_of_bi ┆ date_of_hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [14]:
data.name_ext.to_camel_case()

shape: (5, 8)
┌────────────┬───────────┬──────────┬─────────────┬─────────────┬────────────┬────────────┬────────┐
│ employeeId ┆ firstName ┆ lastName ┆ email       ┆ jobTitle    ┆ dateOfBirt ┆ dateOfHire ┆ salary │
│ ---        ┆ ---       ┆ ---      ┆ ---         ┆ ---         ┆ h          ┆ ---        ┆ ---    │
│ i64        ┆ str       ┆ str      ┆ str         ┆ str         ┆ ---        ┆ str        ┆ i64    │
│            ┆           ┆          ┆             ┆             ┆ str        ┆            ┆        │
╞════════════╪═══════════╪══════════╪═════════════╪═════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john      ┆ doe      ┆ john.doe@ex ┆ software_en ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆           ┆          ┆ ample.com   ┆ gineer      ┆            ┆            ┆        │
│ 2          ┆ jane      ┆ smith    ┆ jane.smith@ ┆ data_scient ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆           ┆          ┆ example.com ┆ ist         ┆            ┆            ┆        │
│ 3          ┆ bob       ┆ johnson  ┆ bob.johnson ┆ product_man ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆           ┆          ┆ @example.co ┆ ager        ┆            ┆            ┆        │
│            ┆           ┆          ┆ m           ┆             ┆            ┆            ┆        │
│ 4          ┆ alice     ┆ davis    ┆ alice.davis ┆ ux_designer ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆           ┆          ┆ @example.co ┆             ┆            ┆            ┆        │
│            ┆           ┆          ┆ m           ┆             ┆            ┆            ┆        │
│ 5          ┆ charlie   ┆ brown    ┆ charlie.bro ┆ qa_engineer ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆           ┆          ┆ wn@example. ┆             ┆            ┆            ┆        │
│            ┆           ┆          ┆ com         ┆             ┆            ┆            ┆        │
└────────────┴───────────┴──────────┴─────────────┴─────────────┴────────────┴────────────┴────────┘

In [15]:
data.name_ext.to_pascal_snake_case()

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ Employee_I ┆ First_Name ┆ Last_Name ┆ Email      ┆ Job_Title  ┆ Date_Of_Bi ┆ Date_Of_Hi ┆ Salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

## Numeric

In [16]:
import polars as pl
df = pl.DataFrame({"numbers": [1, 2, 309, 4, 5]})
df

shape: (5, 1)
┌─────────┐
│ numbers │
│ ---     │
│ i64     │
╞═════════╡
│ 1       │
│ 2       │
│ 309     │
│ 4       │
│ 5       │
└─────────┘

In [17]:
import polars_extensions as plx

result = df.with_columns(
    pl.col('numbers').num_ext.to_roman().alias("Roman")
)

result

shape: (5, 2)
┌─────────┬───────┐
│ numbers ┆ Roman │
│ ---     ┆ ---   │
│ i64     ┆ str   │
╞═════════╪═══════╡
│ 1       ┆ I     │
│ 2       ┆ II    │
│ 309     ┆ CCCIX │
│ 4       ┆ IV    │
│ 5       ┆ V     │
└─────────┴───────┘

In [18]:
new_result = result.with_columns(
    pl.col('Roman').num_ext.from_roman().alias("Decoded")
)
new_result

shape: (5, 3)
┌─────────┬───────┬─────────┐
│ numbers ┆ Roman ┆ Decoded │
│ ---     ┆ ---   ┆ ---     │
│ i64     ┆ str   ┆ i64     │
╞═════════╪═══════╪═════════╡
│ 1       ┆ I     ┆ 1       │
│ 2       ┆ II    ┆ 2       │
│ 309     ┆ CCCIX ┆ 309     │
│ 4       ┆ IV    ┆ 4       │
│ 5       ┆ V     ┆ 5       │
└─────────┴───────┴─────────┘

## String

In [19]:
import polars_extensions as plx
import polars as pl 

data = pl.read_csv('datasets/string_sim.csv')

data.str_ext.f1_string_similarity('a','c')

shape: (13, 3)
┌──────────────────────────┬───────────────────────────┬──────────┐
│ a                        ┆ c                         ┆ f1_score │
│ ---                      ┆ ---                       ┆ ---      │
│ str                      ┆ str                       ┆ f64      │
╞══════════════════════════╪═══════════════════════════╪══════════╡
│ apple                    ┆ appl                      ┆ 0.888889 │
│ banana                   ┆ BANANA                    ┆ 1.0      │
│ cherry                   ┆ cherr                     ┆ 0.909091 │
│ date                     ┆ etad                      ┆ 1.0      │
│ elderberry               ┆ elderberrys               ┆ 0.952381 │
│ …                        ┆ …                         ┆ …        │
│ kiwi                     ┆ KIW                       ┆ 0.857143 │
│ lemon                    ┆ lemons                    ┆ 0.909091 │
│ mangoes are Tangy        ┆ mango are Tangy           ┆ 0.9375   │
│ it was the best of times ┆ it was the worst of times ┆ 0.897959 │
│ of times it was the best ┆ it was the worst of times ┆ 0.897959 │
└──────────────────────────┴───────────────────────────┴──────────┘