In [7]:
import polars as pl
from polars_extensions import *

In [8]:
data = pl.read_csv('datasets/employees.csv')
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee_i ┆ first_name ┆ last_name ┆ email      ┆ job_title  ┆ date_of_bi ┆ date_of_hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [9]:
data = data.name_ext.to_kebeb_case()
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee-i ┆ first-name ┆ last-name ┆ email      ┆ job-title  ┆ date-of-bi ┆ date-of-hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [10]:
data = data.name_ext.to_train_case()
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ Employee-i ┆ First-name ┆ Last-name ┆ Email      ┆ Job-title  ┆ Date-of-bi ┆ Date-of-hi ┆ Salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [11]:
data = data.name_ext.to_pascal_case()
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ Employee-i ┆ First-name ┆ Last-name ┆ Email      ┆ Job-title  ┆ Date-of-bi ┆ Date-of-hi ┆ Salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [12]:
data = data.name_ext.to_snake_case()
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee-i ┆ first-name ┆ last-name ┆ email      ┆ job-title  ┆ date-of-bi ┆ date-of-hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [13]:
data = data.name_ext.to_camel_case()
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ employee-i ┆ first-name ┆ last-name ┆ email      ┆ job-title  ┆ date-of-bi ┆ date-of-hi ┆ salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

In [14]:
data = data.name_ext.to_pascal_snake_case()
data

shape: (5, 8)
┌────────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────┐
│ Employee-i ┆ First-name ┆ Last-name ┆ Email      ┆ Job-title  ┆ Date-of-bi ┆ Date-of-hi ┆ Salary │
│ d          ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ rth        ┆ re         ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str        ┆ str        ┆ ---        ┆ ---        ┆ i64    │
│ i64        ┆            ┆           ┆            ┆            ┆ str        ┆ str        ┆        │
╞════════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════╡
│ 1          ┆ john       ┆ doe       ┆ john.doe@e ┆ software_e ┆ 1990-05-12 ┆ 2015-08-01 ┆ 85000  │
│            ┆            ┆           ┆ xample.com ┆ ngineer    ┆            ┆            ┆        │
│ 2          ┆ jane       ┆ smith     ┆ jane.smith ┆ data_scien ┆ 1988-11-23 ┆ 2017-03-15 ┆ 95000  │
│            ┆            ┆           ┆ @example.c ┆ tist       ┆            ┆            ┆        │
│            ┆            ┆           ┆ om         ┆            ┆            ┆            ┆        │
│ 3          ┆ bob        ┆ johnson   ┆ bob.johnso ┆ product_ma ┆ 1985-07-19 ┆ 2012-10-10 ┆ 105000 │
│            ┆            ┆           ┆ n@example. ┆ nager      ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 4          ┆ alice      ┆ davis     ┆ alice.davi ┆ ux_designe ┆ 1992-04-06 ┆ 2020-01-21 ┆ 78000  │
│            ┆            ┆           ┆ s@example. ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ com        ┆            ┆            ┆            ┆        │
│ 5          ┆ charlie    ┆ brown     ┆ charlie.br ┆ qa_enginee ┆ 1993-09-14 ┆ 2019-07-08 ┆ 72000  │
│            ┆            ┆           ┆ own@exampl ┆ r          ┆            ┆            ┆        │
│            ┆            ┆           ┆ e.com      ┆            ┆            ┆            ┆        │
└────────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────┘

## Numeric

In [15]:
import polars as pl
df = pl.DataFrame({"numbers": [1, 2, 309, 4, 5]})
df

shape: (5, 1)
┌─────────┐
│ numbers │
│ ---     │
│ i64     │
╞═════════╡
│ 1       │
│ 2       │
│ 309     │
│ 4       │
│ 5       │
└─────────┘

In [16]:
import polars_extensions as plx


result = df.with_columns(
    pl.col('numbers').num_ext.to_roman().alias("Roman")
)

result

shape: (5, 2)
┌─────────┬───────┐
│ numbers ┆ Roman │
│ ---     ┆ ---   │
│ i64     ┆ str   │
╞═════════╪═══════╡
│ 1       ┆ I     │
│ 2       ┆ II    │
│ 309     ┆ CCCIX │
│ 4       ┆ IV    │
│ 5       ┆ V     │
└─────────┴───────┘

In [17]:
new_result = result.with_columns(
    pl.col('Roman').num_ext.from_roman().alias("Decoded")
)
new_result

shape: (5, 3)
┌─────────┬───────┬─────────┐
│ numbers ┆ Roman ┆ Decoded │
│ ---     ┆ ---   ┆ ---     │
│ i64     ┆ str   ┆ i64     │
╞═════════╪═══════╪═════════╡
│ 1       ┆ I     ┆ 1       │
│ 2       ┆ II    ┆ 2       │
│ 309     ┆ CCCIX ┆ 309     │
│ 4       ┆ IV    ┆ 4       │
│ 5       ┆ V     ┆ 5       │
└─────────┴───────┴─────────┘