In [7]:
import polars as pl
from polars_extensions import *

In [ ]:
data = pl.read_csv('datasets/employees.csv')
data

In [ ]:
data = data.name_ext.to_kebeb_case()
data

In [ ]:
data = data.name_ext.to_train_case()
data

In [ ]:
data = data.name_ext.to_pascal_case()
data

In [ ]:
data = data.name_ext.to_snake_case()
data

In [ ]:
data = data.name_ext.to_camel_case()
data

In [ ]:
data = data.name_ext.to_pascal_snake_case()
data

## Numeric

In [1]:
import polars as pl
df = pl.DataFrame({"numbers": [1, 2, 309, 4, 5]})
df

shape: (5, 1)
┌─────────┐
│ numbers │
│ ---     │
│ i64     │
╞═════════╡
│ 1       │
│ 2       │
│ 309     │
│ 4       │
│ 5       │
└─────────┘

In [2]:
import polars_extensions as plx


result = df.with_columns(
    pl.col('numbers').num_ext.to_roman().alias("Roman")
)

result

shape: (5, 2)
┌─────────┬───────┐
│ numbers ┆ Roman │
│ ---     ┆ ---   │
│ i64     ┆ str   │
╞═════════╪═══════╡
│ 1       ┆ I     │
│ 2       ┆ II    │
│ 309     ┆ CCCIX │
│ 4       ┆ IV    │
│ 5       ┆ V     │
└─────────┴───────┘

In [6]:
new_result = result.with_columns(
    pl.col('Roman').num_ext.from_roman().alias("Decoded")
)
new_result

shape: (5, 3)
┌─────────┬───────┬─────────┐
│ numbers ┆ Roman ┆ Decoded │
│ ---     ┆ ---   ┆ ---     │
│ i64     ┆ str   ┆ i64     │
╞═════════╪═══════╪═════════╡
│ 1       ┆ I     ┆ 1       │
│ 2       ┆ II    ┆ 2       │
│ 309     ┆ CCCIX ┆ 309     │
│ 4       ┆ IV    ┆ 4       │
│ 5       ┆ V     ┆ 5       │
└─────────┴───────┴─────────┘

In [1]:
import polars as pl
import polars_extensions as plx

df = pl.DataFrame({
    "string1": ["phillips","phillips","",None],
    "string2": ["philips","phillips","phillips",None],
})

In [ ]:
result = df.with_columns(
    # pl.col('string1').str_ext.levenshtein(pl.col('string2')).alias("lev_distance")
    pl.col('string1').list_ext.find_intersection('string2').alias("jaccard_similarity")
)

result